# Project 1
## Dan & Josiah

In [ ]:
#Import necessary libraries
import numpy as np
import sklearn as sl
import pandas as pd 
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score
from google.colab import files
from math import sqrt
from sklearn import model_selection
from sklearn.feature_selection import RFE

In [121]:
# Load files 

#Select the files downloaded from the Kaggle Page
uploaded = files.upload()
train_df = pd.read_csv("train.csv")

uploaded = files.upload()
test_df = pd.read_csv("test.csv")

Saving train (1).csv to train (1) (2).csv

Saving test (1).csv to test (1) (2).csv

## START PRE-PROCESSING

In [122]:
'''
Let's take a look at the data sets.
'''
train_df.info()
test_df.info()

'''
The feature labels contain spaces.
We want to replce all the spaces with underscores.
'''
test_df.columns = [c.replace(' ', '_') for c in test_df.columns]
train_df.columns = [c.replace(' ', '_') for c in train_df.columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1758 entries, 0 to 1757
Data columns (total 81 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               1758 non-null   int64
 1   MS SubClass      1758 non-null   int64
 2   MS Zoning        1758 non-null   object
 3   Lot Frontage     1469 non-null   float64
 4   Lot Area         1758 non-null   int64
 5   Street           1758 non-null   object
 6   Alley            139 non-null    object
 7   Lot Shape        1758 non-null   object
 8   Land Contour     1758 non-null   object
 9   Utilities        1758 non-null   object
 10  Lot Config       1758 non-null   object
 11  Land Slope       1758 non-null   object
 12  Neighborhood     1758 non-null   object
 13  Condition 1      1758 non-null   object
 14  Condition 2      1758 non-null   object
 15  Bldg Type        1758 non-null   object
 16  House Style      1758 non-null   object
 17  Overall Qual     1758 non-null   int64
 18  Overall Cond     1758 non-null   int64
 19  Year Built       1758 non-null   int64
 20  Year Remod/Add   1758 non-null   int64
 21  Roof Style       1758 non-null   object
 22  Roof Matl        1758 non-null   object
 23  Exterior 1st     1758 non-null   object
 24  Exterior 2nd     1758 non-null   object
 25  Mas Vnr Type     1748 non-null   object
 26  Mas Vnr Area     1748 non-null   float64
 27  Exter Qual       1758 non-null   object
 28  Exter Cond       1758 non-null   object
 29  Foundation       1758 non-null   object
 30  Bsmt Qual        1714 non-null   object
 31  Bsmt Cond        1714 non-null   object
 32  Bsmt Exposure    1712 non-null   object
 33  BsmtFin Type 1   1714 non-null   object
 34  BsmtFin SF 1     1757 non-null   float64
 35  BsmtFin Type 2   1714 non-null   object
 36  BsmtFin SF 2     1757 non-null   float64
 37  Bsmt Unf SF      1757 non-null   float64
 38  Total Bsmt SF    1757 non-null   float64
 39  Heating          1758 non-null   object
 40  Heating QC       1758 non-null   object
 41  Central Air      1758 non-null   object
 42  Electrical       1758 non-null   object
 43  1st Flr SF       1758 non-null   int64
 44  2nd Flr SF       1758 non-null   int64
 45  Low Qual Fin SF  1758 non-null   int64
 46  Gr Liv Area      1758 non-null   int64
 47  Bsmt Full Bath   1756 non-null   float64
 48  Bsmt Half Bath   1756 non-null   float64
 49  Full Bath        1758 non-null   int64
 50  Half Bath        1758 non-null   int64
 51  Bedroom AbvGr    1758 non-null   int64
 52  Kitchen AbvGr    1758 non-null   int64
 53  Kitchen Qual     1758 non-null   object
 54  TotRms AbvGrd    1758 non-null   int64
 55  Functional       1758 non-null   object
 56  Fireplaces       1758 non-null   int64
 57  Fireplace Qu     916 non-null    object
 58  Garage Type      1670 non-null   object
 59  Garage Yr Blt    1669 non-null   float64
 60  Garage Finish    1669 non-null   object
 61  Garage Cars      1758 non-null   float64
 62  Garage Area      1758 non-null   float64
 63  Garage Qual      1669 non-null   object
 64  Garage Cond      1669 non-null   object
 65  Paved Drive      1758 non-null   object
 66  Wood Deck SF     1758 non-null   int64
 67  Open Porch SF    1758 non-null   int64
 68  Enclosed Porch   1758 non-null   int64
 69  3Ssn Porch       1758 non-null   int64
 70  Screen Porch     1758 non-null   int64
 71  Pool Area        1758 non-null   int64
 72  Pool QC          9 non-null      object
 73  Fence            345 non-null    object
 74  Misc Feature     62 non-null     object
 75  Misc Val         1758 non-null   int64
 76  Mo Sold          1758 non-null   int64
 77  Yr Sold          1758 non-null   int64
 78  Sale Type        1758 non-null   object
 79  Sale Condition   1758 non-null   object
 80  SalePrice        1758 non-null   int64
dtypes: float64(11), int64(27), object(43)
memory usage: 1.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1172 entries, 0 to 1171
Data columns (total 80 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               1172 non-null   int64
 1   MS SubClass      1172 non-null   int64
 2   MS Zoning        1172 non-null   object
 3   Lot Frontage     971 non-null    float64
 4   Lot Area         1172 non-null   int64
 5   Street           1172 non-null   object
 6   Alley            59 non-null     object
 7   Lot Shape        1172 non-null   object
 8   Land Contour     1172 non-null   object
 9   Utilities        1172 non-null   object
 10  Lot Config       1172 non-null   object
 11  Land Slope       1172 non-null   object
 12  Neighborhood     1172 non-null   object
 13  Condition 1      1172 non-null   object
 14  Condition 2      1172 non-null   object
 15  Bldg Type        1172 non-null   object
 16  House Style      1172 non-null   object
 17  Overall Qual     1172 non-null   int64
 18  Overall Cond     1172 non-null   int64
 19  Year Built       1172 non-null   int64
 20  Year Remod/Add   1172 non-null   int64
 21  Roof Style       1172 non-null   object
 22  Roof Matl        1172 non-null   object
 23  Exterior 1st     1172 non-null   object
 24  Exterior 2nd     1172 non-null   object
 25  Mas Vnr Type     1159 non-null   object
 26  Mas Vnr Area     1159 non-null   float64
 27  Exter Qual       1172 non-null   object
 28  Exter Cond       1172 non-null   object
 29  Foundation       1172 non-null   object
 30  Bsmt Qual        1136 non-null   object
 31  Bsmt Cond        1136 non-null   object
 32  Bsmt Exposure    1135 non-null   object
 33  BsmtFin Type 1   1136 non-null   object
 34  BsmtFin SF 1     1172 non-null   float64
 35  BsmtFin Type 2   1135 non-null   object
 36  BsmtFin SF 2     1172 non-null   float64
 37  Bsmt Unf SF      1172 non-null   float64
 38  Total Bsmt SF    1172 non-null   float64
 39  Heating          1172 non-null   object
 40  Heating QC       1172 non-null   object
 41  Central Air      1172 non-null   object
 42  Electrical       1171 non-null   object
 43  1st Flr SF       1172 non-null   int64
 44  2nd Flr SF       1172 non-null   int64
 45  Low Qual Fin SF  1172 non-null   int64
 46  Gr Liv Area      1172 non-null   int64
 47  Bsmt Full Bath   1172 non-null   float64
 48  Bsmt Half Bath   1172 non-null   float64
 49  Full Bath        1172 non-null   int64
 50  Half Bath        1172 non-null   int64
 51  Bedroom AbvGr    1172 non-null   int64
 52  Kitchen AbvGr    1172 non-null   int64
 53  Kitchen Qual     1172 non-null   object
 54  TotRms AbvGrd    1172 non-null   int64
 55  Functional       1172 non-null   object
 56  Fireplaces       1172 non-null   int64
 57  Fireplace Qu     592 non-null    object
 58  Garage Type      1103 non-null   object
 59  Garage Yr Blt    1102 non-null   float64
 60  Garage Finish    1102 non-null   object
 61  Garage Cars      1171 non-null   float64
 62  Garage Area      1171 non-null   float64
 63  Garage Qual      1102 non-null   object
 64  Garage Cond      1102 non-null   object
 65  Paved Drive      1172 non-null   object
 66  Wood Deck SF     1172 non-null   int64
 67  Open Porch SF    1172 non-null   int64
 68  Enclosed Porch   1172 non-null   int64
 69  3Ssn Porch       1172 non-null   int64
 70  Screen Porch     1172 non-null   int64
 71  Pool Area        1172 non-null   int64
 72  Pool QC          4 non-null      object
 73  Fence            227 non-null    object
 74  Misc Feature     44 non-null     object
 75  Misc Val         1172 non-null   int64
 76  Mo Sold          1172 non-null   int64
 77  Yr Sold          1172 non-null   int64
 78  Sale Type        1172 non-null   object
 79  Sale Condition   1172 non-null   object
dtypes: float64(11), int64(26), object(43)
memory usage: 732.6+ KB

In [123]:
'''
We want to see where and how many NAs there are before we start filling in NAs.
This way, we will know beforehand if we want to fill NAs with zeros or some other calculated value.
'''
# Check for any missing values
null_train_df = pd.DataFrame(train_df.isnull().sum())
null_test_df = pd.DataFrame(test_df.isnull().sum())


'''
We see that there are a lot of missing values.
Can't fill these in with zeros - need to either use some averaging algorithm OR omit the feature(s) as a whole. 
'''
# Filter out all non-zeros 
null_train_df = null_train_df[null_train_df[0] != 0]
null_test_df = null_test_df[null_test_df[0] != 0]
null_test_df.head(10)

                   0
Lot_Frontage     201
Alley           1113
Mas_Vnr_Type      13
Mas_Vnr_Area      13
Bsmt_Qual         36
Bsmt_Cond         36
Bsmt_Exposure     37
BsmtFin_Type_1    36
BsmtFin_Type_2    37
Electrical         1

In [124]:
'''
Manually separate the outcome feature from the rest of the training data set. 
'''
train_X = train_df.loc[:,train_df.columns!='SalePrice']
train_Y = pd.DataFrame(train_df['SalePrice'])
ids = pd.DataFrame(test_df["ID"]) # Save the ID column for submission.

#Data preprocessing
col_names_train = train_X.columns
# Repeat for test_df
col_names_test = test_df.columns

In [125]:
'''
First, drop all unneccesary training features (e.g., ID).
'''
drop_columns_train = list(null_train_df.index)
drop_columns_train.append("ID") 
train_X = train_X.drop(drop_columns_train, axis = 1)

In [126]:
'''
We want to extract dummy variables for all categorical features.
'''
# Automate the dummies
train_X = pd.get_dummies(train_X)
test_df = pd.get_dummies(test_df)

'''
We need the two data sets to be feature identical.
'''

common_cols = train_X.columns.intersection(test_df.columns) # Get all the common features 
train_X = train_X[common_cols]
test_df = test_df[common_cols]

In [127]:
'''
The test set may have other features that contain NAs - let's check. 
'''
null_test_df = pd.DataFrame(test_df.isnull().sum())
null_test_df = null_test_df[null_test_df[0] != 0]
null_test_df

'''
Garage_Cars and Garage Area each contain one entry with NAs.
Just drop these two records. 
'''
test_df = test_df.dropna()

In [128]:
'''
Standardize both the training and test sets. 
'''

#Import the scaler to beging standardization
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
temp_norm = train_X.append(test_df)


col_names = temp_norm.columns

#Apply the scaler to the merged data set
min_max_scaler = preprocessing.MinMaxScaler()
temp_norm = min_max_scaler.fit_transform(temp_norm)
temp_norm = pd.DataFrame(temp_norm, columns=col_names)

temp_norm

      MS_SubClass  Lot_Area  ...  Sale_Condition_Normal  Sale_Condition_Partial
0        0.235294  0.045077  ...                    1.0                     0.0
1        0.235294  0.050719  ...                    1.0                     0.0
2        0.588235  0.010778  ...                    0.0                     1.0
3        0.058824  0.036449  ...                    1.0                     0.0
4        0.000000  0.027577  ...                    1.0                     0.0
...           ...       ...  ...                    ...                     ...
2924     0.411765  0.026726  ...                    0.0                     0.0
2925     0.147059  0.017294  ...                    1.0                     0.0
2926     0.235294  0.036075  ...                    0.0                     1.0
2927     0.176471  0.737105  ...                    1.0                     0.0
2928     0.235294  0.043586  ...                    1.0                     0.0

[2929 rows x 202 columns]

In [129]:
'''
Split the set back into the train and test sets.

'''
train_X = temp_norm.iloc[:1758]
test_df = temp_norm.iloc[1758:]

In [130]:
# Make Linear Regression Model 
model = LinearRegression(fit_intercept=True)
model.fit(train_X, train_Y)
pred = model.predict(test_df)
print(pred)

[[ 80067.]
 [161169.]
 [184493.]
 ...
 [205734.]
 [280357.]
 [288391.]]

In [131]:
'''
We have the predictions.
Need to make the final data set output. 
'''
final_dataset = pd.DataFrame(pred, columns = ['SalePrice'])
final_dataset = pd.concat([ids, final_dataset], axis = 1)
final_dataset = final_dataset[["ID", "SalePrice"]]
final_dataset.head(10)

     ID  SalePrice
0  1758    80067.0
1  1759   161169.0
2  1760   184493.0
3  1761   120833.0
4  1762   284773.0
5  1763   491199.0
6  1764   127861.0
7  1765    78387.0
8  1766   152079.0
9  1767   127153.0

In [132]:
# Make a new df with the actual and predicted variables 

compare = pd.concat([final_dataset["SalePrice"], train_Y],axis = 1)
compare = compare.rename(columns={"SalePrice":"Predicted", "SalePrice":"Ac"})

In [133]:
final_dataset.tail(10)

        ID     SalePrice
1162  2920  1.054810e+05
1163  2921  1.075170e+05
1164  2922  8.883700e+04
1165  2923 -5.444333e+15
1166  2924  1.208570e+05
1167  2925  1.285410e+05
1168  2926  2.057340e+05
1169  2927  2.803570e+05
1170  2928  2.883910e+05
1171  2929           NaN

In [113]:
#This will export our previous table as a csv for submission.
final_dataset.to_csv('Submission.csv')
from google.colab import files
files.download("Submission.csv")